
@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family:'kanitregular';
    height: 100vh;
    font-size: 18px;
}
.wrapper {
    min-height: calc(100vh - 601px);
}

h1 {
        font-size: calc(1.5vw + 18px);
}

/*----------- NAVBAR 1 ------------------*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}
a:hover{
    text-decoration: none;
}
.nav-right-auto {
    margin-left: auto;
}

.logo-frame {
    width: 220px;
    height: 80px;
    padding: 0px 0px;
    margin-top: 0px;
    overflow: hidden;
}
.frame-logo {
    width: 190px!important;
    height: auto!important;
}
.navbar1-color {
    /*height: 110px;*/
    background: #b308ea;
    background: linear-gradient(#ac33f1, #695ff4);
}

.nav-link {
    display: block;
    width: 190px;
    text-align: center;
    height: 50px;
    font-size: 22px;
    color: #e2dfdf!important;
}
.nav-link:hover {
    display: block;
    width: 190px;
    text-align: center;
    height: 50px;
    color: #e2dfdf!important;
    text-shadow: 13px 7px 17px #0000008c;
    font-size: 27px;
    font-weight: 500;
    transition: all 0.8s;
    padding-top: 2px;
}

.nav-border-right {
    border-right: 1px solid #e2dfdf;
}
.nav-link-right {
    width: 175px!important;
}
.navbar-dropdown {
    margin-left: 17px;
    font-size: 22px;
}
.input-control-nav {
    width: 40%;
}
.scroll-navbar {
    overflow: scroll;
    height: 450px;
}
/*----------- END NAVBAR 1 ---------------*/

/*----------- NAVBAR 2 ------------------- */
.navbar2-color-blue {
    height: 50px!important;
    background:#0a0192!important;
}
.nav-link2 {
    display: block;
    color: #e2dfdf;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.border-radius-0 {
    border-radius: 0px;
    background-color: #eeeeee3b;
    color: #fff;
    border: none;
}
.form-control:focus {
    color: #fff;
    background-color: #eeeeee3b;
    border-color: #eeeeee3b;
    outline: 0;
    box-shadow: none;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #eeeeee3b;
    border-color: #eeeeee3b;
}
.bnt-search {
    margin-left: 1px;
    font-size: 25px!important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.logo-frame-national {
    width: 30px!important;
    height: 20px!important;
    cursor: pointer;
}
.dropdown-toggle::after {
    color: #fff;
    cursor: pointer;
}
.position-navbar2 {
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-menu-national {
    min-width: 60px;
    padding: 5px 5px;
    margin: 7px -7px 0;
    text-align: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
    .nav-dropdown-color {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #2f0079;
        border-width: 0px;
    }
/*----------- END NAVBAR 2 -----------------*/


/*----------- FOOTER ------------------------*/
.footer-menu {
    background-color: #b3b3b3;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;

}
.footer-font-social {
    font-size: 55px;
    padding-left: 0px;
    padding-right: 6px;
}
.footer-facebook {
    color: #000;
}
.footer-facebook:hover {
    color: #3b5998;
}
.footer-youtube{
    color: #000;
}
.footer-youtube:hover{
    color: #c3191e
}
.footer-instargram {
    color: #000;
}
.footer-instargram:hover {
    color: #7c4a3a
}
.footer-px-5px {
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.footer-frame {
    overflow: hidden;
    height: 37px;
}
.footer-bottom {
  margin-bottom: 0px;
}
.footer-line-height-about {
    line-height: 35px;
    letter-spacing: 0.5px;
}

/*----------- END FOOTER --------------------*/


/*------------ ALL CLASS -------------------*/
.width100 {
    width: 100%;
}
.text-black {
    color: #000;
}
.text-blue {
    color: #190fc7;
}
.text-purple {
    color: #695ff4;
}
.text-gray{
    color: #eee;
}
.text-dark-purple {
    color: #9717e4;    
}
.font-weight400 {
    font-weight: 400!important;
}
.pt-7px {
    padding-top: 7px;
}
.border-search {
    border-right: 1px solid #fff;
    height: 50px;
}
.display-show-xl {
    display: none;
}
.display-show-sm {
    display: none;
}
.bnt-blue {
    width: 100%;
    border-radius: 0px;
    background-color: #051ca7;
    color: #fff;
    height: 45px;
    font-size: 20px;
    font-weight: 300;
}
.input-iclick {
    border-radius: 0px!important;
    height: 45px!important;
    font-size: 18px!important;
    width: 100%;
    padding: 0px 10px;
}
.input-iclick :focus {
    color: #495057!important;
    background-color: #fff!important;
    border-color: #fff!important;
    outline: 0!important;
    box-shadow: none!important;
}
/*OVERLAY*/
.overlay-img {
  position: relative;
  overflow:hidden;
  height: 250px;
  width: 100%;
}

.image-full {
  position:absolute;
  display: block;
  width: 100%;
  top:50%;
  left:50%;
  transform:translate(-50% ,-50%);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #76767794;
  cursor: pointer;
}

.overlay-img:hover .overlay {
  opacity: 1;
}
.overlay-icon-size {
    font-size: 50px;
}
.text-overlay {
  color: #000;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text-overlay:hover {
  color: #000;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*END OVERLAY*/
.mt-45px {
    margin-top: 45px;
}
.bnt-purple {
    width: 100%;
    background-color: #9718e4;
    height: 50px;
    font-size: 24px;
    color: #fff;
    border-radius: 0px;
    border: 3px solid;
    padding: 0px;
}
.bnt-purple:hover {
    width: 100%;
    background-color: #fff;
    height: 50px;
    font-size: 24px;
    color: #9718e4;
    border-radius: 0px;
    border: 3px solid #9718e4;
    padding: 0px;
    transition: all 0.5s;
}
.bnt-adjunct {
    width: 220px;
    margin-top: 25px;
}
.bnt-adjunct:hover {
    width: 220px!important;
    margin-top: 25px;
}
.col-2-half {
    max-width: 100%!important;
    width: 20%!important;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    padding-right: 15px;
    padding-left: 15px;
}
/*-------------------------------------
-----------------login-----------------
---------------------------------------*/
 .login-color{
    color: #6d5bf3;
    margin-bottom: 30px;
    font-weight: 600;
 }
 .logic-color-blu{
    color: #6d5af3;
 }
 .login-input{
    margin-left: 280px;
 }
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    color: #6d5af3;
}

.login-input-grob{
    border-color: #ab34f1;
    border-radius: 0px;
    border-width: 2px;
    padding-right:70px;
    padding-top: 9px;
}
.login-from{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a935f1;
    border-radius: -0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px;
    border-width: 2px;
    height: 45px;
}

.login-lo{
    width: 100%;
    height: 45px;
    background-color: #a935f1;
    color: #fff;
    border-radius: 0px;
}
.login-face-whit{
    width: 100%;
    height: 45px;
    background-color: #365899;
    color: white;
    border-radius: 0px;
}

.login-goog-whit{
    width: 100%;
    height: 45px;
    background-color: #F44336;
    color: white;
    border-radius: 0px;
    margin-top: -20px;
    margin-bottom: 70px;
}

.login-top-1{
   margin-top: -8px;
}
/*-------------------------------------
-----------------login-----------------
---------------------------------------*/


/*--------------------------------
 -------------Pay Confirm----------
----------------------------------*/
   .pay_ma_h2_top{
        margin: 35px 0px 0px 78px;
        color: #6d5bf3;
        font-weight: 700;
   }
   .pay_hr_width{
    border-width: 3px;
    width: 92%;  
   } 
   .pay-from{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a935f1;
    border-radius: -0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px;
    border-width: 2px;
    height: 45px;
}
   .pay-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    color: #b4b4b4;
}
   .pay-buttom{
    width: 160px;
    margin-right: 168px;
    background-color: #6d5af3;
    border-radius: 0px;
    height: 45px;
    color: #fff;
    font-size: 17px;
   }
   .pay_bb_2 {
    width: 190px;
    background-color: #ffffff;
    border-radius: 0px;
    height: 45px;
    color: #6d5af3;
    border-color: #a935f1;
    border-width: 2px;
    font-weight: 700;
    
}
.pay_bb_3 {
    width: 190px;
    background-color: #a935f1;
    border-radius: 0px;
    height: 45px;
    color: #f9f9f9;
    border-color: #a935f1;
    border-width: 2px;
    font-weight: 700;
}
.pay_top_but{
    margin-top: 60px;
    margin-bottom: 60px;
}
.pay_l{
    margin-left: 42px;
}
.pay_ll{
     margin-left: 418px;

}

 
 /*--------------------------------
 -------------Pay Confirm END----------
 ----------------------------------*/

 /*-----------------------------------
 -------------ARTICLE-----------------
 --------------------------------------*/
 .art_h2_top {
    margin: 35px 0px 0px 91px;
    color: #6d5bf3;
    font-weight: 700;
    }
.art_hr_width{
    border-width: 3px;
    width: 92%;  
   } 
.art_text_h{
    color: #6d5af3;
    font-size: 25px;
}
.art_color{
   color: #b4b4b4;
}
.art_color-1{
    color: #a935f1;
}



.art_img-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.art_fram_img{
    position: relative;
    overflow: hidden;
    height: 330px;
    width: 100%;
    border: 4px solid #a935f1;
    border-radius: 6px;
}
.art_img_1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.art_fram_1{
    position: relative;
    overflow: hidden;
    height: 130px;
    width: 100%;
}
.art_fram_2{
    position: relative;
    overflow: hidden;
    height: 350px;
    width: 100%;
}
.art_img_2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid rgba(0,0,0,.125); 
    width: 76%;
}
.art_top_mer{
    margin-left: 75px;
}
.art-lo {
    width: 20%;
    height: 50px;
    background-color: #a935f1;
    color: #fff;
    font-size: 20px;
    border-radius: 0px;
    margin-bottom: 60px;
    margin-top: 20px;
}


 /*-----------------------------------
 -------------ARTICLE END-----------------
 --------------------------------------*/
 

/*----------- END ALL CLASS ----------------*/

/*------------------------ HOME -------------*/
.carousel-indicators {
    position: absolute;
    right: 30px;
    bottom: 10px;
    left: unset;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: inherit;
    -ms-flex-pack: center;
    justify-content: inherit;
    padding-left: 0;
    margin-right: inherit;
    margin-left: inherit;
    list-style: none;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #c4c5c5;
}
.carousel-indicators .active {
    background-color: #ac33f1;
}

.flex-carousel-img {
    position:relative;
    overflow:hidden;
    height: 700px;
}
.img-carousel-auto {
    position:absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
}
.flex-icon-banner {
    position: relative;
    overflow: hidden;
    width: 70px;
    height: 70px;
    margin: auto;
    top: 45px;
    padding: 0px;
}
.icon-banner {
    width: 150px;height: 150px;
    position: absolute;
    border-radius: 90px;
    box-shadow: 10px 4px 14px -7px #8c888869;
}
.baner-lace {
    top: 325px;
    left: 140px;
}
.baner-photos {
    top: 325px;
    left: 360px;
}
.baner-crown {
    top: 525px;
    left: 140px;
}
.baner-shopnow {
    position: absolute;
    top: 580px;
    left: 360px;
}
.font-shop-now {
    color: #ac33f1;
    font-size: 35px;
}

.flex-img-bands {
    position:relative;
    overflow:hidden;
    height: 200px;
}
.home-img-bands {
    position:absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
}
.home-size-web {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 50px;
}
.home-line {
    position:relative;
    overflow:hidden;
    height: 100px;
}
.flex-line-home {
    position:relative;
    overflow:hidden;
    height: 45px;
    margin-top: 35px;
}
.home-product-card {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0px 25px;
}
.home-content-product {
    overflow: hidden;
    height: 50px;
}
.text-star {
    color: #d6d2d2;
}
.text-star:hover {
    color: #ded805;
}
.home-star {
    background-color: #fff;
    margin-bottom: 20px;
    margin-top: -33px;
    margin-left: 35px;
    margin-right: 35px;
}
.home-card-footer {
    padding: 10px 0px;
    background-color: transparent;
}
.home-change-color {
    position: relative;
    height: 30px;
    width: 30px;
    border:1px solid #e9e9e9;
}
.change-color {
    position: absolute;
    height: 20px;
    width: 20px;
    margin: auto;
    top: 4px;
    left: 4px;
}
.home-background-category {
    height: 600px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 50%;
    background-position-y: 50%;
}
.home-background-article {
    background-position-x: 50%;
    background-position-y: 50%;
    height: 870px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 60px;
}
.flex-img-category {
    position:relative;
    overflow:hidden;
    height: 290px;
}
.home-top-45px {
    top: 45px;
}
.flex-img-article {
    position: relative;
    overflow: hidden;
    height: 290px;
}

.home-card-article {
    padding: 0px;
    border: 3px solid #9718e4;
}
.home-text-article {
    color: #636363;
    overflow: hidden;
    height: 105px;
    letter-spacing: 1px;
}
.home-card-footer-article {
    border: none;
    background: none;
}
.home-card-article-all {
    width: 100%;
    background-color: #ffffff8c;
}
.home-px-40px-article {
    padding-left: 40px;
    padding-right: 40px;
}
/*---------------- END HOME ------------------*/


 /*--------------------------
 -------- BRANDS -------
 ----------------------------*/
.brand-font{
    color:#7b63f5; 
    font-size:30px;
    font-family: 'kanitmedium';
}

.brand-image-size{
    width:100%;
    height:400px;
}

.brand-mt{
    margin-top: 40px;
}

.brand-border-bottom{
    border-bottom: 4px solid #bcbcbb;
}

.brand-border-box{
    border: 4px solid #b13df3;
}


.brand-button{
    background-color:#b13df3;
    border: #b13df3;
    color: white;
    width:100%;
    height:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

.brand-button:hover{
    background-color:#c56ff7;
    border: none;
    color: white;
    width:100%;
    height:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

 /*--------------------------
 -------- END BRANDS -------
 ----------------------------*/

/*--------------------------
 -------- HOW TO PAY ---------
 ----------------------------*/
.htp-font1{
    color:#7b63f5; 
    font-size:30px;
}

.htp-font2{
    color:#888; 
    font-size:21px;
    font-weight: bold;
}

.htp-w-h{
    width: 65px;
    height:40px;
}

.htp-font3{
    color:#bcbcbb; 
    font-size:21px;
}

.htp-mt{
    margin-top: 40px;
}

.htp-border-bottom{
    border-bottom: 4px solid #bcbcbb;
}

.htp-border-image{
    border: 4px solid #b13df3;
}
 /*--------------------------
 ------ END HOW TO PAY ------
 ----------------------------*/

 /*--------------------------
 --------- PROFILE 1 --------
 ----------------------------*/
.profile-font{
    font-size: 19px;
    color:#866df6;
    text-align: right;
 }

 .profile-font2{
    font-size: 19px;
    color: gray;
 }

 .profile-add{
    background-color: #b308ea;
    color: #fff;
    font-size: 25px;
    padding: 2px;
    border:none;
    width: 40px;
    height: 40px;
 }

  .profile-add:hover{
    background-color: #866df6;
    color: #fff;
    font-size: 25px;
    padding: 2px;
    border:none;
    width: 40px;
    height: 40px;
 }

  .profile-btn1{
    background-color:#fff;
    color: #866df6;
    font-size: 20px;
    padding: 2px;
    border: 2px solid #b308ea;
    width: 200px;
    height: 50px;
 }

   .profile-btn1:hover{
    background-color:#fff;
    color: #866df6;
    font-size: 20px;
    padding: 2px;
    border: 2px solid #866df6;
    width: 200px;
    height: 50px;
 }

  .profile-btn2{
    background-color: #b308ea;
    color: #fff;
    font-size: 20px;
    padding: 2px;
    border:none;
    width: 200px;
    height: 50px;
 }

   .profile-btn2:hover{
    background-color:#866df6;
    color: #fff;
    font-size: 20px;
    padding: 2px;
    border:none;
    width: 200px;
    height: 50px;
 }

 .profile-form{
    border: 2px solid #b308ea;
    color: #333;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 7px;
 }

.nav-pills .nav-item .active{
    background-color: white;
    font-size: 25px;
}

.profile-nav-link {
    text-align: center;
    font-size: 22px;
    color:#866df6 !important;
    border-bottom: 3px solid #bcbcbb;
    background-color: #bcbcbb;
    padding: 10px;
    transition: all 1s;
}

.profile-nav-link:hover {
    text-align: center;
    color: #866df6!important;
    font-size: 22px;
    transition: all 0.8s;
    padding: 10px;
}

.profile-border-bottom{
    border-bottom: 2px solid #bcbcbb;
}

.profile-border-bottom2{
    border-bottom: 2px solid #bcbcbb;
}
/*--------------------------
 ------ END PROFILE 1 ------
 ----------------------------*/

 /*--------------------------
 --------- PROFILE 2 --------
 ----------------------------*/
.profile2-font{
    font-size: 22px;
    color:#b308ea;
    font-weight: bold;
 }

.profile2-font2{
    font-size: 18px;
    color:#866df6;
 }

.profile2-font3{
    font-size: 22px;
    color:#58D68D;
    font-weight: bold;
 }

.profile2-font4{
    font-size: 22px;
    color:#666;
    font-weight: bold;
 }

.profile2-font5{
    font-size: 18px;
    color:#666;
 }

.profile2-font6{
    font-size: 18px;
    color :#AEB6BF;
 }

.profile2-font7{
    font-size: 22px;
    color:#E74C3C;
    font-weight: bold;
 }

.profile2-font8{
    font-size: 22px;
    color:#ace600;
    font-weight: bold;
 }


.profile2-dec{
    background-color: #fff;
    color:gray;
    font-size: 25px;
    border:none;
    width: 35px;
    height: 40px;
 }

.profile2-dec:hover{
    background-color: #866df6;
    color: #fff;
    font-size: 25px;
    border:none;
    width: 35px;
    height: 40px;
 }

 .profile2-border-bottom{
    border-bottom: 2px solid #bcbcbb;
}
 /*--------------------------
 ------- END PROFILE 2 -------
 ----------------------------*/


@media(max-width: 1366px){
    /*---------------------------
    ------- NAVBAR 1366 ---------
    -----------------------------*/
    .logo-frame {
        width: 135px;
        height: 110px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 100%!important;
        margin-top: 35px;
    }
    .nav-link {
        display: block;
        width: 140px;
        text-align: center;
        height: 50px;
        font-size: 20px;
        color: #e2dfdf!important;
    }
    .nav-link-right {
        width: 130px!important;
    }
    .nav-link:hover {
        display: block;
        width: 140px;
        text-align: center;
        height: 50px;
        color: #e2dfdf!important;
        text-shadow: 13px 7px 17px #0000008c;
        font-size: 20px;
        font-weight: 500;
        transition: all 0.8s;
        padding-top: 4px;
    }


    /*---------------------------
    ------- END NAVBAR 1366 -----
    -----------------------------*/

    /*---------------------------
    --------- FOOTER 1366 -------
    -----------------------------*/
    .footer-menu {
        background-color: #b3b3b3;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .footer-font-social {
        font-size: 40px;
        padding-left: 0px;
        padding-right: 6px;
    }
    /*----------------------------
    -------- END FOOTER 1366 -----
    ------------------------------*/

    /*----------------------------
    -------- HOME 1366 -----------
    ------------------------------*/
    .flex-carousel-img {
        position: relative;
        overflow: hidden;
        height: 460px;
    }
    .home-size-web {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 40px;
    }
    .home-product-card {
        width: 100%;
        background-color: transparent;
        border: none;
        padding: 0px 5px;
    }
    .card-body-respon {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem 10px;
    }
    .home-text-article {
        color: #636363;
        overflow: hidden;
        height: 130px;
        letter-spacing: 1px;
    }
    .flex-img-article {
        position: relative;
        overflow: hidden;
        height: 257px;
    }
    .home-px-40px-article {
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-top-45px {
        top: 60px;
    }
    .mt-45px {
        margin-top: 65px;
    }
    .flex-img-bands {
        position: relative;
        overflow: hidden;
        height: 160px;
    }
    .flex-img-category {
        position: relative;
        overflow: hidden;
        height: 240px;
    }
    /*----------------------------
    -------- END HOME 1366 -------
    ------------------------------*/


    /*---------------------------
     -------- BRANDS 1366 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 20px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 1366 -----
     ----------------------------*/

     /*--------------------------
     ------ PROFILE(1) 1366 -----
     ----------------------------*/
    .profile-font{
        font-size: 17px;
        color:#866df6;
        text-align: right;
     }

     .profile-font2{
        font-size: 17px;
        color: gray;
     }
    /*---------------------------
     --- END PROFILE (1) 1366 ---
     ----------------------------*/

}

@media(max-width: 1024px) {
    /*--------------------------
    --------- NAVBAR 1024 ------
    ----------------------------*/
    .logo-frame {
        width: 200px;
        height: 100px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 180px!important;
        margin-top: 13px;
        margin-left: 20px;
    }
    .navbar1-color {
        /*height: 77px;*/
        background: #b308ea;
        background: linear-gradient(#ac33f1, #695ff4);
        padding: 0px 0px;
    }  

    .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        height: 45px;
        font-size: 16px;
        color: #e2dfdf!important;
    }
    .nav-link:hover {
        display: block;
        width: 100%;
        text-align: left;
        height: 45px;
        color: #e2dfdf!important;
        text-shadow: 13px 7px 17px #0000008c;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.8s;
        padding-top: 4px;
    }
    .nav-link-right {
        width: 100%!important;
    }
    .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navbar-top-none {
        display: none;
    }

    .display-show-xl {
        display: inherit;
    }
    .navbar2-auto-responsive {
        margin: auto!important;
    }
    .nav-link2 {
        display: block;
        color: #e2dfdf;
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav-dropdown-color {
        margin-left: 15px;
        margin-right: 15px;
        background-color: #2f0079;
        border-width: 0px;
    }
    .font-sizelg {
      font-size: 16px;
    }
    /*--------------------------
    ----- END NAVBAR 1024 ------
    ----------------------------*/

    /*--------------------------
    -------- FOOTER 1024 -------
    ----------------------------*/
    .footer-frame {
        overflow: hidden;
        height: 45px;
    }
    .footer-font-social {
        font-size: 64px;
        padding-left: 0px;
        padding-right: 6px;
    }
    .footer-bottom {
        margin-bottom: 45px;
    }
    /*--------------------------
    ----- END FOOTER 1024 ------
    ----------------------------*/



    /*--------------------------
    --------- HOME 1024 --------
    ----------------------------*/
    .font-respon {
        font-size: 20px;
    }
    .flex-img-article {
        position: relative;
        overflow: hidden;
        height: 180px;
    }
    .col-2-half {
        max-width: 100%!important;
        width: 25%!important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 25%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .home-top-45px {
        top: 15px;
    }
    .mt-45px {
        margin-top: 15px;
        margin-bottom: -15px;
    }
    .home-background-category {
        height: 755px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: 50%;
        background-position-y: 50%;
    }
    .flex-carousel-img {
        position: relative;
        overflow: hidden;
        height: 380px;
    }
    .flex-img-bands {
        position: relative;
        overflow: hidden;
        height: 128px;
    }
    .overlay-img {
        position: relative;
        overflow: hidden;
        height: 190px;
        width: 100%;
    }
    .home-text-article {
        color: #636363;
        overflow: hidden;
        height: 105px;
        letter-spacing: 0px;
        font-size: 14px;
    }
    .home-content-product {
        overflow: hidden;
        height: 50px;
        font-size: 16px;
    }
    .home-background-article {
        background-position-x: 50%;
        background-position-y: 50%;
        height: 610px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 60px;
    }
    .home-px-40px-article {
        padding-left: 10px;
        padding-right: 10px;
    }
    .home-card-body-article {
        height: 155px;
    }
    .bnt-adjunct {
        width: 220px;
        margin-top: 3px;
    }
    .bnt-adjunct:hover {
        width: 220px!important;
        margin-top: 3px;
    }
    .bnt-purple {

        background-color: #9718e4;
        height: 45px;
        font-size: 20px;
        color: #fff;
        border-radius: 0px;
        border: 3px solid;
        padding: 0px;
    }
    .bnt-purple:hover {

        background-color: #fff;
        height: 45px;
        font-size: 20px;
        color: #9718e4;
        border-radius: 0px;
        border: 3px solid #9718e4;
        padding: 0px;
        transition: all 0.5s;
    }
    .home-background-category {
        height: 740px;
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-x: 50%;
        background-position-y: 50%;
    }
    .flex-img-category {
        position: relative;
        overflow: hidden;
        height: 240px;
        margin-top: -30px;
    }
    .home-card-footer-article {
        border: none;
        background: none;
        height: 50px;
    }
    /*--------------------------
    --------- END HOME 1024 ----
    ----------------------------*/

    /*--------------------------
     -------- BRANDS 1024-------
     ----------------------------*/
    .brand-mt{
        margin-top: 20px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 1024 -----
     ----------------------------*/

    /*--------------------------
     ------ PROFILE(1) 1024 -----
     ----------------------------*/
    .profile-font{
        font-size: 19px;
        color:#866df6;
        text-align: right;
     }

     .profile-font2{
        font-size: 19px;
        color: gray;
     }
    /*---------------------------
     --- END PROFILE (1) 1024 ---
     ----------------------------*/

     /*-----------------------------------
     -------------ARTICLE 1024-----------------
     --------------------------------------*/
       .art_top_mer {
            margin-left: 0px;
       }
      .card {
            width: 100%;
       }

     /*-----------------------------------
     -------------ARTICLE END 1024-------
     --------------------------------------*/
}

@media(max-width: 768px){
    /*--------------------------
    ------ NAVBAR 768 ----------
    ----------------------------*/    
    .logo-frame {
        width: 150px;
        height: 70px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 113px!important;
        margin-top: 13px;
        margin-left: 22px;
    }

    .input-control-nav {
        width: 30%;
    }
    .display-show-xl {
        display: inherit;
        margin-left: 25px;
        margin-right: 25px;
    }
    .font-sizelg {
      font-size: 16px;
    }
    
    /*--------------------------
    ------ END NAVBAR 768 ------
    ----------------------------*/

    /*--------------------------
    ------ FOOTER 768 ----------
    ----------------------------*/
    .footer-font-social {
        font-size: 44px;
        padding-left: 0px;
        padding-right: 6px;
    }
    .footer-bottom {
        margin-bottom: 25px;
    }
    /*--------------------------
    ------ END FOOTER 768 ------
    ----------------------------*/
    /*--------------------------
    ---------- HOME 768 ---------
    ----------------------------*/
    .col-2-half {
        max-width: 100%!important;
        width: 33.33%!important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 33.33%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .flex-carousel-img {
        position: relative;
        overflow: hidden;
        height: 275px;
    }
    .flex-img-bands {
        position: relative;
        overflow: hidden;
        height: 86px;
    }
    .flex-img-article {
        position: relative;
        overflow: hidden;
        height: 130px;
    }
    .home-background-article {
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: 1080px;
        height: 550px;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-bottom: 190px;
    }
    .home-px-40px-article {
        padding-left: 0px;
        padding-right: 0px;
    }
    .home-article-top {
        margin-top: 23px!important;
    }
    .font-respon {
        font-size: 18px;
    }
    .home-card-body-article {
        height: 155px;
        padding: 10px 15px;
    }
    .home-text-article {
        color: #636363;
        overflow: hidden;
        height: 125px;
        letter-spacing: 0px;
        font-size: 14px;
    }
    .bnt-adjunct {
        width: 220px;
        margin-top: 3px;
    }
    .home-background-category {
        height: 760px;
        background-repeat: no-repeat;
        background-size: 1060px;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    .card-body-respon {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem 0px;
    }
    .overlay-icon-size {
        font-size: 30px;
    }
    .text-overlay:hover {
        color: #000;
        font-size: 30px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    /*--------------------------
    ----- END HOME 768 ---------
    ----------------------------*/








    /*--------------------------
     -------- BRANDS 768 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 0px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 768 -----
     ----------------------------*/


    /*--------------------------------
    -------------Pay Confirm 768----------
    ----------------------------------*/
   .pay_ll {
    margin-left: 236px;
    }
   .pay_l {
    margin-left: 75px;
   }
   .pay-from {
    display: block;
    width: 119%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a935f1;
    border-radius: -0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px;
    border-width: 2px;
    height: 45px;
   }
   .pay_ma_h2_top {
    margin: 35px 0px 0px 111px;
    color: #6d5bf3;
    font-weight: 700;
    }
    .pay-buttom {
    background-color: #6d5af3;
    border-radius: 0px;
    height: 45px;
    color: #fff;
    font-size: 17px;
    margin-top: 5px;
    width: 32%;
    margin-right: 0px;
    }
    .pay_bb_2 {
    width: 65%;
    background-color: #ffffff;
    border-radius: 0px;
    height: 45px;
    color: #6d5af3;
    border-color: #a935f1;
    border-width: 2px;
    font-weight: 700;
   }
   .pay_bb_3 {
    width: 65%;
    background-color: #a935f1;
    border-radius: 0px;
    height: 45px;
    color: #f9f9f9;
    border-color: #a935f1;
    border-width: 2px;
    font-weight: 700;
   }
    /*--------------------------------
     --------Pay Confirm END----------
    ----------------------------------*/



     /*--------------------------
     ------ HOW TO PAY 768 ------
     ----------------------------*/
    .htp-font1{
        color:#7b63f5; 
        font-size:30px;
    }

    .htp-font2{
        color:#888; 
        font-size:21px;
        font-weight: bold;
        text-align: center;
    }

    .htp-font3{
        color:#bcbcbb; 
        font-size:21px;
        text-align: center;
    }

    .htp-mt{
        margin-top: 40px;
    }

    .htp-border-bottom{
        border-bottom: 4px solid #bcbcbb;
    }

    .htp-border-image{
        border: 4px solid #b13df3;
    }
     /*--------------------------
     ---- END HOW TO PAY 768 ----
     ----------------------------*/

     /*--------------------------
     ------ PROFILE(1) 768 ------
     ----------------------------*/
    .profile-font{
        font-size: 18px;
        color:#866df6;
        text-align: right;
     }

     .profile-font2{
        font-size: 18px;
        color: gray;
     }

    .nav-pills .nav-item .active{
        background-color: white;
        font-size: 18px;
    }

    .profile-nav-link {
        text-align: center;
        font-size: 16px;
        color:#866df6 !important;
        border-bottom: 3px solid #bcbcbb;
        background-color: #bcbcbb;
        padding: 10px;
        transition: all 1s;
    }

    .profile-nav-link:hover {
        text-align: center;
        color: #866df6!important;
        font-size: 16px;
        transition: all 0.8s;
        padding: 10px;
    }

    /*---------------------------
     --- END PROFILE (1) 768 ----
     ----------------------------*/


}











@media(max-width: 414px){
    /*--------------------------
    ------ NAVBAR 414 ----------
    ----------------------------*/

    .logo-frame {
        width: 150px;
        height: 70px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    
    #topFixedNavbar1 {
     overflow-y: scroll !important;
     max-height: 365px !important;
     transition: all 1s;
    }
    .navbar2-auto-responsive {
        flex-direction: row;
        margin: auto!important;
    }
    .display-show-xl {
        display: inherit;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .input-control-nav {
        width: 100%;
    }
    .nav-dropdown-color {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #2f0079;
        border-width: 0px;
    }
    .bnt-collapsed {
        margin-right: 30px;
        position: absolute;
        right: -9px;
        top: 15px;
    }
    .nav-link2 {
        color: #e2dfdf;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-position-nation {
        right: 75px;
        top: 20px;
        position: absolute;
    }
    .navbar-position-shopping {
        right: 155px;
        top: 20px;
        position: absolute;
    }
    .display-none-sm {
        display: none;
    }
    .display-show-sm {
        display: inherit;
    }

    /*--------------------------
    ------ END NAVBAR 414 ------
    ----------------------------*/
    /*--------------------------
    ------- FOOTER 414 ---------
    ----------------------------*/
    .footer-line-height-about {
        line-height: 30px;
        letter-spacing: 0.5px;
    }
    .footer-bottom {
        margin-bottom: 50px;
    }
      .footer-frame {
        overflow: hidden;
        height: 35px;
    }
    .footer-menu {
        background-color: #b3b3b3;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
    /*--------------------------
    ------- END FOOTER 414 -----
    ----------------------------*/
    /*--------------------------
    ---------- HOME 414 --------
    ----------------------------*/
    .col-2-half {
        max-width: 100%!important;
        width: 50%!important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 50%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .flex-carousel-img {
        position: relative;
        overflow: hidden;
        height: 155px;
    }
    .carousel-indicators li {
        position: relative;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        width: 15px;
        height: 15px;
        margin-right: 5px;
        margin-left: 5px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 25px;
        background-color: #c4c5c5;
    }
    .home-img-bands {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50% ,-50%);
    }
    .flex-img-bands {
        position: relative;
        overflow: hidden;
        height: 107px;
        margin-top: -35px;
    }
    .home-px-band-respon {
       padding: 0px 10px 45px 10px;
    }
    .home-content-product {
        overflow: hidden;
        height: 50px;
        font-size: 14px;
    }
    .home-star {
        background-color: #fff;
        margin-bottom: 20px;
        margin-top: -36px;
        margin-left: 35px;
        margin-right: 35px;
    }
    .text-star {
        color: #d6d2d2;
        font-size: 13px;
    }
    .home-content-product {
        overflow: hidden;
        height: 38px;
        font-size: 14px;
    }
    .home-background-category {
        height: 1077px;
        background-repeat: no-repeat;
        background-size: 1465px;
        background-position-x: 0px;
        background-position-y: 0px;
    }
    .home-background-category {
        height: 1077px;
        background-repeat: no-repeat;
        background-size: 1465px;
        background-position-x: -470px;
        background-position-y: 0px;
    }
    .home-card-body-article {
        height: 120px;
        padding: 10px 15px;
        text-align: center;
    }
    .home-card-article-all {
        width: 100%;
        background-color: #ffffff8c;
        margin-bottom: 45px;
    }
    .home-background-article {
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: 4000px;
        height: 100%;
        background-repeat: no-repeat;
        margin-top: 30px;
        margin-bottom: 190px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .home-card-footer-article {
        border: none;
        background: none;
        height: 50px;
        text-align: center;
    }
    .bnt-adjunct {
        width: 100%;
        margin-top: -50px;
    }
    .bnt-adjunct:hover {
        width: 100%!important;
        margin-top: -50px;
    }
    .flex-img-category {
        position: relative;
        overflow: hidden;
        height: 170px;
        margin-top: 25px;
    }
    .home-change-color {
        position: relative;
        height: 30px;
        width: 30px;
        margin-bottom: 10px;
        border: 1px solid #e9e9e9;
    }
    .flex-img-article {
        position: relative;
        overflow: hidden;
        height: 220px;
    }
    /*--------------------------
    ------ END HOME 414 --------
    ----------------------------*/








    /*--------------------------
     -------- BRANDS 414 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 10px;
    }
    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 414 -----
     ----------------------------*/

     /*---------------------------
     ------------LOGIN 414--------
     -----------------------------*/
     .login-goog-whit {
        width: 100%;
        height: 45px;
        background-color: #F44336;
        color: white;
        border-radius: 0px;
        margin-top: -32px;
        margin-bottom: 70px;     
    }

    .login-lo {
        width: 100%;
        height: 45px;
        background-color: #a935f1;
        color: #fff;
        border-radius: 0px;
        margin-bottom: -40px;
    }
    .login-414-rep {
        margin-top: 30px;
        margin-bottom: -30px;
    }
    /*---------------------------
     ------ LOGIN 414 END -------
     -----------------------------*/


    /*--------------------------------
     -------------Pay Confirm 414----------
    ----------------------------------*/
    .pay-from {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #a935f1;
        border-radius: -0.75rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        border-radius: 0px;
        border-width: 2px;
        height: 45px;
    }
     /*--------------------------
     ------ PROFILE(1) 414 ------
     ----------------------------*/
    .profile-font {
        font-size: 18px;
        color:#866df6;
        text-align: center;
     }

    .profile-font2{
        font-size: 18px;
        color: gray;
        text-align: center;
     }

    .nav-pills .nav-item .active{
        background-color: white;
        font-size: 18px;
    }
    .pay_l {
        margin-left: 0px; 
    }
   .pay_ll {
        margin-left: 0px; 
    }
   .pay-buttom {
        width: 92%;
        margin-left: 14px;
    }

   .pay_bb_2 {
        width: 96%;
        margin-left: 14px;
    }
   .pay_bb_3 {
        width: 96%;
        margin-left: -9px;
    }
   .pay_top_but {
        margin-top: 24px;
        margin-bottom: 60px;
    }

    /*--------------------------------
     -------------Pay Confirm END----------
    ----------------------------------*/
    /*-----------------------------------
    -------------ARTICLE 414-----------------
    --------------------------------------*/
    .art-lo {
        width: 100%;
    }
    /*-----------------------------------
    -------------ARTICLE 414 END-----------------
    --------------------------------------*/
    .profile-nav-link {
        text-align: center;
        font-size: 17px;
        color:#866df6 !important;
        border-bottom: 3px solid #bcbcbb;
        background-color: #bcbcbb;
        padding: 10px;
        transition: all 1s;
    }

    .profile-nav-link:hover {
        text-align: center;
        color: #866df6!important;
        font-size: 17px;
        transition: all 0.8s;
        padding: 10px;
    }
    /*---------------------------
     --- END PROFILE (1) 414 ----
     ----------------------------*/

}

@media(max-width: 375px){
    /*--------------------------
    ------- NAVBAR 375 ---------
    ----------------------------*/
    .logo-frame {
        width: 120px;
        height: 70px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 99px!important;
        margin-top: 15px;
        margin-left: 20px;
    }
    .logo-frame-national {
        width: 25px!important;
        height: 20px!important;
        cursor: pointer;
    }
    .navbar-position-shopping {
        right: 140px;
        top: 20px;
        position: absolute;
    }
    /*--------------------------
    ------- END NAVBAR 375 -----
    ----------------------------*/
    /*--------------------------
    ------ FOOTER 375 ----------
    ----------------------------*/
    .footer-line-height-about {
        line-height: 30px;
        letter-spacing: 0.5px;
        font-size: 15px;
    }
    /*--------------------------
    ------ END FOOTER 375 ------
    ----------------------------*/
    /*--------------------------
    ---------- HOME 375 --------
    ----------------------------*/
    .col-2-half {
        max-width: 100%!important;
        width: 100%!important;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .flex-carousel-img {
        position: relative;
        overflow: hidden;
        height: 136px;
    }
    .home-px-band-respon {
        padding: 0px 10px 25px 10px;
    }
    .overlay-img {
        position: relative;
        overflow: hidden;
        height: 345px;
        width: 100%;
    }
    .text-star {
        color: #d6d2d2;
        font-size: 28px;
    }
    .home-star {
        background-color: #fff;
        margin-bottom: 20px;
        margin-top: -42px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .home-content-product {
        overflow: hidden;
        height: 50px;
        font-size: 18px;
    }
    .card-body-respon {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem 25px;
    }
    .flex-img-category {
        position: relative;
        overflow: hidden;
        height: 290px;
        margin-top: 0px;
    }
    .home-background-category {
        height: 100%;
        background-repeat: no-repeat;
        background-size: 5031px;
        background-position-x: -470px;
        background-position-y: 0px;
    }
    .flex-img-article {
        position: relative;
        overflow: hidden;
        height: 195px;
    }
    .font-respon {
        font-size: 23px;
    }
    .bnt-adjunct {
        width: 100%;
        height: 50px;
        margin-top: -50px;
    }
    /*--------------------------
    ------ END HOME 375 --------
    ----------------------------*/



    /*--------------------------
     -------- BRANDS 375 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 5px;
    }

    .brand-image-size{
        width:100%;
        height:200px;
    }
     /*--------------------------
     ------ END BRANDS 375 -----
     ----------------------------*/

    /*--------------------------------
     -------------Pay Confirm 375----------
    ----------------------------------*/
    .pay_ma_h2_top {
        margin: 35px 0px 0px 91px;
        color: #6d5bf3;
        font-weight: 700;
    }
    .pay-buttom {
    width: 90%;
    margin-left: 15px;
    }


    /*--------------------------------
     -------------Pay Confirm END 375----------
    ----------------------------------*/

     /*--------------------------
     ------ PROFILE(1) 375 ------
     ----------------------------*/
    .profile-font{
        font-size: 17px;
        color:#866df6;
        text-align: center;
     }

    .profile-font2{
        font-size: 17px;
        color: gray;
        text-align: center;
     }
    .nav-pills .nav-item .active{
        background-color: white;
        font-size: 15px;
    }

    .profile-nav-link {
        text-align: center;
        font-size: 15px;
        color:#866df6 !important;
        border-bottom: 3px solid #bcbcbb;
        background-color: #bcbcbb;
        padding: 10px;
        transition: all 1s;
    }

    .profile-nav-link:hover {
        text-align: center;
        color: #866df6!important;
        font-size: 15px;
        transition: all 0.8s;
        padding: 10px;
    }
    /*---------------------------
     --- END PROFILE (1) 375 ----
     ----------------------------*/
}

@media (max-width: 320px ){

  .wrapper {
      min-height: calc(100vh - 400px);
  }

      /*-------------------------
      -------- FOOTER 320 -------
      ---------------------------*/
        .footer-facebook-respon {
            border: none!important;
            overflow: hidden!important;
            width: 306px!important;
            margin-left: -15px!important;
            margin-right: -15px!important;
        }
        .footer-font-social {
            font-size: 30px;
            padding-left: 0px;
            padding-right: 6px;
        }
      /*--------------------------
      -------- END FOOTER 320 ----
      ----------------------------*/
      /*--------------------------
      ------------ HOME 320 -------
      -----------------------------*/
      .flex-img-article {
            position: relative;
            overflow: hidden;
            height: 160px;
        }
        .font-respon {
            font-size: 20px;
        }
        .home-text-article {
            color: #636363;
            overflow: hidden;
            height: 105px;
            letter-spacing: 0px;
            font-size: 14px;
        }
        .home-text-article {
            color: #636363;
            overflow: hidden;
            height: 105px;
            letter-spacing: 0px;
            font-size: 14px;
        }
        .home-card-footer-article {
            border: none;
            background: none;
            height: 75px;
            text-align: center;
            padding-top: 35px;
        }
        .overlay-img {
            position: relative;
            overflow: hidden;
            height: 280px;
            width: 100%;
        }
        .flex-carousel-img {
            position: relative;
            overflow: hidden;
            height: 117px;
        }
      /*--------------------------
      -------- END HOME 320 -------
      -----------------------------*/


      /*--------------------------
     -------- BRANDS 320 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 5px;
    }

    .brand-ml-mr{
        margin-left: 20px;
        margin-right: 20px;
    }
     /*--------------------------
     ------ END BRANDS 320 -----
     ----------------------------*/
     /*-------------------------
     -----------Pay Confirm  320 ------
     ----------------------------*/
    .pay_ma_h2_top {
    margin: 35px 0px 0px 66px;
    color: #6d5bf3;
    font-weight: 700;
    }
    .pay-buttom {
    width: 88%;
    margin-left: 15px;
    }
    .pay_bb_2 {
    width: 97%;
    margin-left: 14px;
    }
    .pay_bb_3 {
    width: 97%;
    margin-left: -12px;
    }

     /*-------------------------
     -----------Pay Confirm END 320------
     ----------------------------*/



     /*--------------------------
     ------ PROFILE(1) 320 ------
     ----------------------------*/
    .profile-font{
        font-size: 16px;
        color:#866df6;
        text-align: center;
     }

    .profile-font2{
        font-size: 16px;
        color: gray;
        text-align: center;
     }
    .nav-pills .nav-item .active{
        background-color: white;
        font-size: 11px;
    }

    .profile-nav-link {
        text-align: center;
        font-size: 11px;
        color:#866df6 !important;
        border-bottom: 3px solid #bcbcbb;
        background-color: #bcbcbb;
        padding: 10px;
        transition: all 1s;
    }

    .profile-nav-link:hover {
        text-align: center;
        color: #866df6!important;
        font-size: 11px;
        transition: all 0.8s;
        padding: 10px;
    }
    /*---------------------------
     --- END PROFILE (1) 320 ----
     ----------------------------*/

    /*--------------------------
     ------ PROFILE(2) 320 -----
     ----------------------------*/
    .profile2-font{
        font-size: 18px;
        color:#b308ea;
        font-weight: bold;
     }
     /*--------------------------
     ------ END PROFILE 2 -------
     ----------------------------*/
}
