
@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family:'kanitregular';
    height: 100vh;
    font-size: 18px;
}
.wrapper {
    min-height: calc(100vh - 601px);
}

/*----------- NAVBAR 1 ------------------*/

.row {
    margin-left: 0px;
    margin-right: 0px;
}
a:hover{
    text-decoration: none;
}
.nav-right-auto {
    margin-left: auto;
}

.logo-frame {
    width: 220px;
    height: 80px;
    padding: 0px 0px;
    margin-top: 0px;
    overflow: hidden;
}
.frame-logo {
    width: 190px!important;
    height: auto!important;
}
.navbar1-color {
    /*height: 110px;*/
    background: #b308ea;
    background: linear-gradient(#ac33f1, #695ff4);
}

.nav-link {
    display: block;
    width: 190px;
    text-align: center;
    height: 50px;
    font-size: 22px;
    color: #e2dfdf!important;
}
.nav-link:hover {
    display: block;
    width: 190px;
    text-align: center;
    height: 50px;
    color: #e2dfdf!important;
    text-shadow: 13px 7px 17px #0000008c;
    font-size: 27px;
    font-weight: 500;
    transition: all 0.8s;
    padding-top: 2px;
}

.nav-border-right {
    border-right: 1px solid #e2dfdf;
}
.nav-link-right {
    width: 175px!important;
}
.navbar-dropdown {
    margin-left: 17px;
    font-size: 22px;
}
.input-control-nav {
    width: 40%;
}
.scroll-navbar {
    overflow: scroll;
    height: 450px;
}
/*----------- END NAVBAR 1 ---------------*/

/*----------- NAVBAR 2 ------------------- */
.navbar2-color-blue {
    height: 50px!important;
    background:#0a0192!important;
}
.nav-link2 {
    display: block;
    color: #e2dfdf;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.border-radius-0 {
    border-radius: 0px;
    background-color: #eeeeee3b;
    color: #fff;
    border: none;
}
.form-control:focus {
    color: #fff;
    background-color: #eeeeee3b;
    border-color: #eeeeee3b;
    outline: 0;
    box-shadow: none;
}
.btn-outline-secondary.focus, .btn-outline-secondary:focus {
    box-shadow: none;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #eeeeee3b;
    border-color: #eeeeee3b;
}
.bnt-search {
    margin-left: 1px;
    font-size: 25px!important;
    padding-top: 0px;
    padding-bottom: 0px;
}
.logo-frame-national {
    width: 30px!important;
    height: 20px!important;
    cursor: pointer;
}
.dropdown-toggle::after {
    color: #fff;
    cursor: pointer;
}
.position-navbar2 {
    padding-left: 20px;
    padding-right: 20px;
}
.dropdown-menu-national {
    min-width: 60px;
    padding: 5px 5px;
    margin: 7px -7px 0;
    text-align: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
    .nav-dropdown-color {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #2f0079;
        border-width: 0px;
    }
/*----------- END NAVBAR 2 -----------------*/


/*----------- FOOTER ------------------------*/
.footer-menu {
    background-color: #b3b3b3;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 30px;

}
.footer-font-social {
    font-size: 55px;
    padding-left: 0px;
    padding-right: 6px;
}
.footer-facebook {
    color: #000;
}
.footer-facebook:hover {
    color: #3b5998;
}
.footer-youtube{
    color: #000;
}
.footer-youtube:hover{
    color: #c3191e
}
.footer-instargram {
    color: #000;
}
.footer-instargram:hover {
    color: #7c4a3a
}
.footer-px-5px {
    padding-left: 5px!important;
    padding-right: 5px!important;
}
.footer-frame {
    overflow: hidden;
    height: 34px;
}
.footer-bottom {
  margin-bottom: 0px;
}
.footer-line-height-about {
    line-height: 35px;
    letter-spacing: 0.5px;
}

/*----------- END FOOTER --------------------*/


/*------------ ALL CLASS -------------------*/
.width100 {
    width: 100%;
}
.text-black {
    color: #000;
}
.font-weight400 {
    font-weight: 400!important;
}
.pt-7px {
    padding-top: 7px;
}
.border-search {
    border-right: 1px solid #fff;
    height: 50px;
}
.display-show-xl {
    display: none;
}
.display-show-sm {
    display: none;
}
.bnt-blue {
    width: 100%;
    border-radius: 0px;
    background-color: #051ca7;
    color: #fff;
    height: 45px;
    font-size: 20px;
    font-weight: 300;
}
.input-iclick {
    border-radius: 0px!important;
    height: 45px!important;
    font-size: 18px!important;
    width: 100%;
    padding: 0px 10px;
}
.input-iclick :focus {
    color: #495057!important;
    background-color: #fff!important;
    border-color: #fff!important;
    outline: 0!important;
    box-shadow: none!important;
}

/*-------------------------------------
-----------------login-----------------
---------------------------------------*/
 .login-color{
    color: #6d5bf3;
    margin-bottom: 30px;
    font-weight: 600;
 }
 .logic-color-blu{
    color: #6d5af3;
 }
 .login-input{
    margin-left: 280px;
 }
.col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    color: #6d5af3;
}

.login-input-grob{
    border-color: #ab34f1;
    border-radius: 0px;
    border-width: 2px;
    padding-right:70px;
    padding-top: 9px;
}
.login-from{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #a935f1;
    border-radius: -0.75rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-radius: 0px;
    border-width: 2px;
    height: 45px;
}

.login-lo{
    width: 100%;
    height: 45px;
    background-color: #a935f1;
    color: #fff;
    border-radius: 0px;
}
.login-face-whit{
    width: 100%;
    height: 45px;
    background-color: #365899;
    color: white;
    border-radius: 0px;
}

.login-goog-whit{
    width: 100%;
    height: 45px;
    background-color: #F44336;
    color: white;
    border-radius: 0px;
    margin-top: -20px;
    margin-bottom: 70px;
}

.login-top-1{
   margin-top: -8px;
}
/*-------------------------------------
-----------------login-----------------
---------------------------------------*/


/*--------------------------------
 -------------Pay Confirm----------
----------------------------------*/
     .pay-{
          background-color: #ffc107; 
              color: #007bff;
     }
 /*--------------------------------
 -------------Pay Confirm END----------
 ----------------------------------*/


/*----------- END ALL CLASS ----------------*/

/*------------------------ HOME -------------*/
.carousel-indicators {
    position: absolute;
    right: 30px;
    bottom: 10px;
    left: unset;
    z-index: 15;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: inherit;
    -ms-flex-pack: center;
    justify-content: inherit;
    padding-left: 0;
    margin-right: inherit;
    margin-left: inherit;
    list-style: none;
}
.carousel-indicators li {
    position: relative;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 25px;
    background-color: #c4c5c5;
}
.carousel-indicators .active {
    background-color: #ac33f1;
}

.flex-carousel-img {
    position:relative;
    overflow:hidden;
    height: 700px;
}
.img-carousel-auto {
    position:absolute;
    width: 100%;
    top:50%;
    left:50%;
    transform:translate(-50% ,-50%);
}

 /*--------------------------
 -------- BRANDS -------
 ----------------------------*/
.brand-font{
    color:#7b63f5; 
    font-size:30px;
    font-family: 'kanitmedium';
}

.brand-image-size{
    width:100%;
    height:400px;
}

.brand-mt{
    margin-top: 40px;
}

.brand-border-bottom{
    border-bottom: 4px solid #bcbcbb;
}

.brand-border-box{
    border: 4px solid #b13df3;
}


.brand-button{
    background-color:#b13df3;
    border: #b13df3;
    color: white;
    width:100%;
    height:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

.brand-button:hover{
    background-color:#c56ff7;
    border: none;
    color: white;
    width:100%;
    height:50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
}

 /*--------------------------
 -------- END BRANDS -------
 ----------------------------*/

/*--------------------------
 -------- HOW TO PAY ---------
 ----------------------------*/
.htp-font1{
    color:#7b63f5; 
    font-size:30px;
}

.htp-font2{
    color:#888; 
    font-size:21px;
    font-weight: bold;
}

.htp-w-h{
    width: 65px;
    height:40px;
}

.htp-font3{
    color:#bcbcbb; 
    font-size:21px;
}

.htp-mt{
    margin-top: 40px;
}

.htp-border-bottom{
    border-bottom: 4px solid #bcbcbb;
}

.htp-border-image{
    border: 4px solid #b13df3;
}
 /*--------------------------
 ------ END HOW TO PAY ------
 ----------------------------*/


@media(max-width: 1366px){
    /*---------------------------
    ------- NAVBAR 1366 ---------
    -----------------------------*/
    .logo-frame {
        width: 135px;
        height: 110px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 100%!important;
        margin-top: 35px;
    }
    .nav-link {
        display: block;
        width: 140px;
        text-align: center;
        height: 50px;
        font-size: 20px;
        color: #e2dfdf!important;
    }
    .nav-link-right {
        width: 130px!important;
    }
    .nav-link:hover {
        display: block;
        width: 140px;
        text-align: center;
        height: 50px;
        color: #e2dfdf!important;
        text-shadow: 13px 7px 17px #0000008c;
        font-size: 20px;
        font-weight: 500;
        transition: all 0.8s;
        padding-top: 4px;
    }


    /*---------------------------
    ------- END NAVBAR 1366 -----
    -----------------------------*/

    /*---------------------------
    --------- FOOTER 1366 -------
    -----------------------------*/
    .footer-menu {
        background-color: #b3b3b3;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .footer-font-social {
        font-size: 40px;
        padding-left: 0px;
        padding-right: 6px;
    }
    /*----------------------------
    -------- END FOOTER 1366 -----
    ------------------------------*/

    /*---------------------------
     -------- BRANDS 1366 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 20px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 1366 -----
     ----------------------------*/

}

@media(max-width: 1024px){
    /*--------------------------
    --------- NAVBAR 1024 ------
    ----------------------------*/
    .logo-frame {
        width: 200px;
        height: 100px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 180px!important;
        margin-top: 13px;
        margin-left: 20px;
    }
    .navbar1-color {
        /*height: 77px;*/
        background: #b308ea;
        background: linear-gradient(#ac33f1, #695ff4);
        padding: 0px 0px;
    }  

    .nav-link {
        display: block;
        width: 100%;
        text-align: left;
        height: 45px;
        font-size: 16px;
        color: #e2dfdf!important;
    }
    .nav-link:hover {
        display: block;
        width: 100%;
        text-align: left;
        height: 45px;
        color: #e2dfdf!important;
        text-shadow: 13px 7px 17px #0000008c;
        font-size: 16px;
        font-weight: 500;
        transition: all 0.8s;
        padding-top: 4px;
    }
    .nav-link-right {
        width: 100%!important;
    }
    .navbar-nav .nav-link {
        padding-right: 20px;
        padding-left: 20px;
    }
    .navbar-top-none {
        display: none;
    }
    .display-show-xl {
        display: inherit;
    }
    .navbar2-auto-responsive {
        margin: auto!important;
    }
    .nav-link2 {
        display: block;
        color: #e2dfdf;
        font-size: 16px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .nav-dropdown-color {
        margin-left: 15px;
        margin-right: 15px;
        background-color: #2f0079;
        border-width: 0px;
    }
    .font-sizelg {
      font-size: 16px;
    }
    /*--------------------------
    ----- END NAVBAR 1024 ------
    ----------------------------*/

    /*--------------------------
    -------- FOOTER 1024 -------
    ----------------------------*/
    .footer-frame {
        overflow: hidden;
        height: 45px;
    }
    .footer-font-social {
        font-size: 64px;
        padding-left: 0px;
        padding-right: 6px;
    }
    .footer-bottom {
        margin-bottom: 45px;
    }
    /*--------------------------
    ----- END FOOTER 1024 ------
    ----------------------------*/

    /*--------------------------
     -------- BRANDS 1024-------
     ----------------------------*/
    .brand-mt{
        margin-top: 20px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 1024 -----
     ----------------------------*/
}

@media(max-width: 768px){
    /*--------------------------
    ------ NAVBAR 768 ----------
    ----------------------------*/    
    .logo-frame {
        width: 150px;
        height: 70px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 113px!important;
        margin-top: 13px;
        margin-left: 22px;
    }

    .input-control-nav {
        width: 30%;
    }
    .display-show-xl {
        display: inherit;
        margin-left: 25px;
        margin-right: 25px;
    }
    .font-sizelg {
      font-size: 16px;
    }
    
/*    .navbar-position-nation {
        left: -20px;
        top: -2px
    }*/
    /*--------------------------
    ------ END NAVBAR 768 ------
    ----------------------------*/

    /*--------------------------
    ------ FOOTER 768 ----------
    ----------------------------*/
    .footer-font-social {
        font-size: 44px;
        padding-left: 0px;
        padding-right: 6px;
    }
    .footer-bottom {
        margin-bottom: 25px;
    }
    /*--------------------------
    ------ END FOOTER 768 ------
    ----------------------------*/

    /*--------------------------
     -------- BRANDS 768 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 0px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 768 -----
     ----------------------------*/

     /*--------------------------
     ------ HOW TO PAY 768 ------
     ----------------------------*/
    .htp-font1{
        color:#7b63f5; 
        font-size:30px;
    }

    .htp-font2{
        color:#888; 
        font-size:21px;
        font-weight: bold;
        text-align: center;
    }

    .htp-font3{
        color:#bcbcbb; 
        font-size:21px;
        text-align: center;
    }

    .htp-mt{
        margin-top: 40px;
    }

    .htp-border-bottom{
        border-bottom: 4px solid #bcbcbb;
    }

    .htp-border-image{
        border: 4px solid #b13df3;
    }
     /*--------------------------
     ---- END HOW TO PAY 768 ----
     ----------------------------*/

}

@media(max-width: 414px){
    /*--------------------------
    ------ NAVBAR 414 ----------
    ----------------------------*/

    .logo-frame {
        width: 150px;
        height: 70px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
        margin-bottom: 15px;
    }
    #topFixedNavbar1
    {
     overflow-y: scroll !important;
     max-height: 365px !important;
     transition: all 1s;
    }
    .navbar2-auto-responsive {
        flex-direction: row;
        margin: auto!important;
    }
    .display-show-xl {
        display: inherit;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .input-control-nav {
        width: 100%;
    }
    .nav-dropdown-color {
        margin-left: 5px;
        margin-right: 5px;
        background-color: #2f0079;
        border-width: 0px;
    }
    .bnt-collapsed {
        margin-right: 30px;
        position: absolute;
        right: -9px;
        top: 15px;
    }
    .nav-link2 {
        color: #e2dfdf;
        font-size: 16px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-position-nation {
        right: 75px;
        top: 20px;
        position: absolute;
    }
    .navbar-position-shopping {
        right: 155px;
        top: 20px;
        position: absolute;
    }
    .display-none-sm {
        display: none;
    }
    .display-show-sm {
        display: inherit;
    }

    /*--------------------------
    ------ END NAVBAR 414 ------
    ----------------------------*/
    /*--------------------------
    ------- FOOTER 414 ---------
    ----------------------------*/
    .footer-line-height-about {
        line-height: 30px;
        letter-spacing: 0.5px;
    }
    .footer-bottom {
          margin-bottom: 50px;
      }
      .footer-frame {
        overflow: hidden;
        height: 30px;
    }
    .footer-menu {
        background-color: #b3b3b3;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 50px;
        padding-bottom: 30px;
        text-align: center;
    }
    /*--------------------------
    ------- END FOOTER 414 -----
    ----------------------------*/

    /*--------------------------
     -------- BRANDS 414 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 10px;
    }

    .brand-image-size{
        width:100%;
        height:250px;
    }
     /*--------------------------
     ------ END BRANDS 414 -----
     ----------------------------*/

     /*---------------------------
     ------------LOGIN 414--------
     -----------------------------*/
     .login-goog-whit {
        width: 100%;
        height: 45px;
        background-color: #F44336;
        color: white;
        border-radius: 0px;
        margin-top: -32px;
        margin-bottom: 70px;     
    }

    .login-lo {
        width: 100%;
        height: 45px;
        background-color: #a935f1;
        color: #fff;
        border-radius: 0px;
        margin-bottom: -40px;
    }
    .login-414-rep{
        margin-top: 30px;
        margin-bottom: -30px;
    }
    /*---------------------------
     ------------LOGIN 414 END--------
     -----------------------------*/

    }

@media(max-width: 375px){
    /*--------------------------
    ------- NAVBAR 375 ---------
    ----------------------------*/
    .logo-frame {
        width: 120px;
        height: 70px;
        padding: 0px 0px;
        margin-top: 0px;
        overflow: hidden;
    }
    .frame-logo {
        width: 99px!important;
        margin-top: 15px;
        margin-left: 20px;
    }
    .logo-frame-national {
        width: 25px!important;
        height: 20px!important;
        cursor: pointer;
    }
    .navbar-position-shopping {
        right: 140px;
        top: 20px;
        position: absolute;
    }
    /*--------------------------
    ------- END NAVBAR 375 -----
    ----------------------------*/
    /*--------------------------
    ------ FOOTER 375 ----------
    ----------------------------*/
    .footer-line-height-about {
        line-height: 30px;
        letter-spacing: 0.5px;
        font-size: 15px;
    }
    /*--------------------------
    ------ END FOOTER 375 ------
    ----------------------------*/

    /*--------------------------
     -------- BRANDS 375 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 5px;
    }

    .brand-image-size{
        width:100%;
        height:200px;
    }
     /*--------------------------
     ------ END BRANDS 375 -----
     ----------------------------*/

}

@media (max-width: 320px ){

  .wrapper {
      min-height: calc(100vh - 400px);
  }

      /*-------------------------
      -------- FOOTER 320 -------
      ---------------------------*/
        .footer-facebook-respon {
            border: none!important;
            overflow: hidden!important;
            width: 306px!important;
            margin-left: -15px!important;
            margin-right: -15px!important;
        }
        .footer-font-social {
            font-size: 30px;
            padding-left: 0px;
            padding-right: 6px;
        }
      /*--------------------------
      -------- END FOOTER 320 ----
      ----------------------------*/

      /*--------------------------
     -------- BRANDS 375 -------
     ----------------------------*/
    .brand-mt{
        margin-top: 5px;
    }

    .brand-ml-mr{
        margin-left: 20px;
        margin-right: 20px;
    }
     /*--------------------------
     ------ END BRANDS 375 -----
     ----------------------------*/
}
